<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Pridedame Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>
h4 {
margin-left: 100px;
}

body {
  background-image: url("/static/images/R.jpg");
  background-size: cover;
  background-position: center;
}
</style>
</head>
<body>
<h4>Sostinių testas</h4>
    <div class="container">
        <form method="post" action="/quiz_results/" id="quizForm">
            {% csrf_token %}
            {% for question in questions %}
            <div class="question-block">
                <label>{{ question.question }}</label>
                <div class="answer-block">
                    <div class="form-check">
                        <input class="option-input radio" type="radio" name="question_{{ question.id }}" value="{{ question.op1 }}">
                        <label class="form-check-label">{{ question.op1 }}</label>
                    </div>
                    <div class="form-check">
                        <input class="option-input radio" type="radio" name="question_{{ question.id }}" value="{{ question.op2 }}">
                        <label class="form-check-label">{{ question.op2 }}</label>
                    </div>
                    <div class="form-check">
                        <input class="option-input radio" type="radio" name="question_{{ question.id }}" value="{{ question.op3 }}">
                        <label class="form-check-label">{{ question.op3 }}</label>
                    </div>
                    <div class="form-check">
                        <input class="option-input radio" type="radio" name="question_{{ question.id }}" value="{{ question.op4 }}">
                        <label class="form-check-label">{{ question.op4 }}</label>
                    </div>
                </div>
            </div>
            {% endfor %}
            <button id="submitButton" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
<p id="error-message" style="display: none; color: red;">Atsakyk nors į vieną klausimą :)</p>

<script>
    document.getElementById('submitButton').addEventListener('click', function(event) {
        var inputs = document.querySelectorAll('input[type="radio"]');
        var answered = false;
        for (var i = 0; i < inputs.length; i++) {
            if (inputs[i].checked) {
                answered = true;
                break;
            }
        }
        if (!answered) {
            event.preventDefault();
            document.getElementById('error-message').style.display = 'block';
        }
    });
</script>
<!-- Pridedame Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
